.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  align-items: center;
}

.countries--first .country:nth-child(1) {
  align-self: flex-end;
}

.countries--first .country:nth-child(2) {
  align-self: flex-start;
}

.countries--first .country:nth-child(3) {
  align-self: flex-end;
}

.countries--first .country:nth-child(4) {
  align-self: center;
}

.countries--first .country:nth-child(5) {
  align-self: flex-start;
}
